@import "../variables";

.wrapper {
    height: 100%;
}

.backgroundTopLeft {
    top: 0;
    left: 0;
    z-index: 1;
}

.backgroundBottomLeft {
    top: 80rem;
    left: 0;
    z-index: 1;
}

.backgroundTopRight {
    top: 0;
    right: -10rem;
    z-index: 1;
}

.backgroundBottomRight {
    top: 80rem;
    right: -10rem;
    z-index: 1;
}

.card {
    z-index: 2;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font: $font-h3;
    text-align: center;
    border-bottom: $spacing-base * 0.1 solid $color-text-body;
}

.emptyListText {
    flex: 1;
    text-align: center;
    opacity: 0.7;
}
