@import "../variables";

.wrapper {
    height: 100%;
}

.backgroundTopLeft {
    top: 0;
    left: 0;
    z-index: 1;
}

.backgroundBottomLeft {
    top: 80rem;
    left: 0;
    z-index: 1;
}

.backgroundTopRight {
    top: 0;
    right: -10rem;
    z-index: 1;
}

.backgroundBottomRight {
    top: 80rem;
    right: -10rem;
    z-index: 1;
}

.card {
    z-index: 2;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    white-space: pre-wrap;
}

.controls {
    min-width: 50%;
}

.tomatoSticker {
    width: 50%;
    height: 100%;
}

@media #{$screen-mobile} {
    .backgroundTopLeft {
        display: none;
    }

    .backgroundBottomLeft {
        display: none;
    }

    .backgroundTopRight {
        display: none;
    }

    .backgroundBottomRight {
        display: none;
    }

    .tomatoSticker {
        width: 100%;
        margin: 0 auto;
    }
}
