@import "../variables";

.wrapper {
    height: 100%;
}

.backgroundTopLeft {
    top: 0;
    left: 0;
    z-index: 1;
}

.backgroundBottomLeft {
    top: 80rem;
    left: 0;
    z-index: 1;
}

.backgroundTopRight {
    top: 0;
    right: -10rem;
    z-index: 1;
}

.backgroundBottomRight {
    top: 80rem;
    right: -10rem;
    z-index: 1;
}

.card {
    z-index: 2;
}

.image {
    flex-shrink: 0;
    width: $spacing-base * 30;
    height: $spacing-base * 25;
    object-fit: contain;
}

.mosaicInfo {
    flex: 1;
    overflow: hidden;
}

.explorerLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-base / 2;
}

.explorerLinkIcon {
    width: $spacing-base * 2;
    height: $spacing-base * 2;
}

.explorerLinkText {
    font: $font-body-bold;
    text-transform: uppercase;
    color: $color-primary;
}
