@import "../variables";

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4rem;
    height: $spacing-base * 4;
    cursor: pointer;
    user-select: none;
    padding: 0 $spacing-base * 2;
    flex-shrink: 0;
    border: $border-width-textbox solid $color-textbox-border;
	font: $font-button;
	outline: inherit;
    gap: $spacing-base;
    border-radius: $border-radius-button;
    margin: 0;
    transition: all 250ms;
    background-color: $color-background-card;

    &:hover {
        background-color: $color-button-bg;
        color: $color-text-button;
        opacity: 0.9;
    }

    .icon {
        width: 1rem;
        height: 1rem;
    }
}

.buttonActive {
    background-color: $color-button-bg;
    color: $color-text-button;
}
