@import "../variables";

.itemNFT {
    position: relative;
    gap: $spacing-padding;
    padding: $spacing-padding;
    background-color: $color-background-card;
    border-radius: $border-radius-card;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: $spacing-base * 40;
    width: $spacing-base * 35;
    cursor: pointer;
}

.image {
    height: $spacing-base * 25;
    width: $spacing-base * 30;
    object-fit: contain;
}

.info {
    padding: $spacing-padding;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-base / 2;
}

.infoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    border-bottom: $spacing-base * 0.1 solid $color-primary;
    padding-bottom:  $spacing-base / 2;
}

.id {

}
.address {

}
.amount {
    font: $font-highlighted;
}
