@import "../variables";

.sticker {
    filter: drop-shadow(0 0 0.01rem #000) drop-shadow(0.2rem 0.2rem 0.2rem #222) blur(0.025rem);
    transition: all 50ms;
    opacity: 1;
}

.loading {
    opacity: 0.1;
    filter: blur(0.5);
}
